asgiref==3.8.1
certifi==2025.1.31
cloudinary==1.44.0
Django==5.2
djangorestframework==3.16.0
googleapis-common-protos==1.70.0
grpcio==1.71.0
lz4==4.4.4
pillow==11.2.1
pinecone==6.0.2
pinecone-plugin-interface==0.0.7
protobuf==5.29.4
protoc-gen-openapiv2==0.0.1
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
