# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv*/
env*/

# TensorFlow SavedModel
**/model/**/assets/
**/model/**/fingerprint.pb
**/model/**/saved_model.pb
**/model/**/variables/

# Editor/IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Jupyter or temp
.ipynb_checkpoints/
.DS_Store

# Binaries
**.keras
