# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv*/
env*/

# TensorFlow SavedModel
model/1/assets/
model/1/fingerprint.pb
model/1/saved_model.pb
model/1/variables/

# Editor/IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Jupyter or temp
.ipynb_checkpoints/
.DS_Store
